.custom-categories{
    height:8vh;
    overflow-x: scroll;
    overflow-y: hidden;
    
}

.category-text{
    font-size: 0.7rem;
}
.category-box{
    width: auto;
    height: 100%;
}
.navbar-property-top{
    height:10vh;
}
.navbar-property-bottom{
    height:8vh;
}
.main-container-styles{
    overflow-x: scroll;
    height:74vh;
}


  .border-navbar-search{
      border-radius: 27px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .search-height{
      height: 60%;
  }
  
  
  
