.navbar-property-top{
    height:10vh;
}
.product-search{
    border: 1px solid rgb(230, 31, 64);
    border-radius: 25px;
    box-shadow: rgba(104, 84, 84, 0.19) 0px 10px 20px, rgba(53, 35, 35, 0.23) 0px 6px 6px;
}
.input-shadow{
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.image-fit{
    height:100%;
    padding:10px;
    object-fit: cover;
}

.height-control{
    height:50vh;
    width:95vw;
    
}
.image-mobile-fit{
    width:100%;
    object-fit: cover;
}
.overflow-control-image{
    overflow-x: scroll;
}